{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    <h3>Product List</h3>
    <section class="products">
        {% for product in products %}
        {% if product.quantity > 0 %}
        <div class="card">
            <p><strong>{{ forloop.counter }}. {{ product.name }}</strong>
                <br> <img src="{{ product.image }}" alt="{{ product.name }}">
                Prix: {{ product.price }} € <br>
                Qtity: {{ product.quantity}} <br>
                <a href="{% url 'products:product_detail' product.id %}"><button> Buy </button></a>
            </p>
        </div>
        {% endif %}
        {% endfor %}
    </section>
</body>

</html>